.App {
  background-color: skyblue;
  display: flex;

}

.dash{
  background-color: green;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
  align-content: space-around;
  margin:155px 40px;
}

.products{
  background-color: blue;
}

.form{
  background-color:#3AD886;
  position: fixed;
  right: 100px;
  top:250px;
  border: 1px black solid;
  padding: 40px;
  width:400px;

}


.header {
  display: flex;
  justify-content: flex-start;

  background-color: #AB2A19;
  position: fixed;
  top: 0px;
  left:0px;
  right:0px;
  padding: 8px;

}


.flex{
  display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;

}

.prodDiv{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #D34735;
  height: 310px;
  width:600px;
  border: 1px solid black;
  border-radius: 7px;
  margin: 20px;
  padding:10px;

}

.pics{
  width:22%;
  border: 1px black solid;
  border-radius: 3px;
}

.logo{
  width:30px;
  margin-left:30px;
}

button{
  background-color: #ED6B5A;
  border-radius: 6px;
  padding: 6px;
}

.buttons{
  display:flex;
  justify-content: space-between;
  padding-top: 22px;
}

input{
  border-radius: 3px;
}

.headertext{
 margin-top:5px;
 margin-left:19px;
 color: #FFFFFF;
 font-size: 22px;
}
/* 
.defaultPic{
  width:20px;
  height:20px;
  border: black 1px solid;
} */